.page {
  display: grid;
  height: 100%;
  grid-template-columns: auto min-content;

  .page-content {
    display: grid;
    grid-template-rows: min-content auto;
    height: 100%;

    .list {
      margin: 20px;
      display: grid;
      grid-template-rows: auto min-content;
    }
  }

  .edit {
    background: #f6f6f6;
  }
}