<form class="add-container" [formGroup]="taskForm" (ngSubmit)="create()">
    <mat-form-field appearance="outline">
        <button mat-icon-button matPrefix type="submit" [disabled]="taskForm.invalid">
            <mat-icon>add</mat-icon>
        </button>
        <input matInput placeholder="Add task" formControlName="name" placeholder="Name" required>
        <mat-error *ngIf="taskForm.controls['name'].invalid && taskForm.controls['name'].touched">
            Name is required and should be at most 30 characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-select formControlName="priority" placeholder="Priority" required>
            <mat-option [value]="Priority.Low">{{ Priority.Low }}</mat-option>
            <mat-option [value]="Priority.Medium">{{ Priority.Medium }}</mat-option>
            <mat-option [value]="Priority.High">{{ Priority.High }}</mat-option>
        </mat-select>
        <mat-error *ngIf="taskForm.controls['priority'].invalid && taskForm.controls['priority'].touched">
            Priority is required.
        </mat-error>
    </mat-form-field>
</form>