
<form class="edit-container" [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
        <input matInput placeholder="Add task" formControlName="name" placeholder="Name" required>
        <mat-error *ngIf="taskForm.controls['name'].invalid && taskForm.controls['name'].touched">
            Name is required and should be at most 30 characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-select formControlName="priority" placeholder="Priority" required>
            <mat-option [value]="Priority.Low">{{ Priority.Low }}</mat-option>
            <mat-option [value]="Priority.Medium">{{ Priority.Medium }}</mat-option>
            <mat-option [value]="Priority.High">{{ Priority.High }}</mat-option>
        </mat-select>
        <mat-error *ngIf="taskForm.controls['priority'].invalid && taskForm.controls['priority'].touched">
            Priority is required.
        </mat-error>
    </mat-form-field>
    <div class="buttons">
        <button type="submit" mat-raised-button>Save</button>
        <button (click)="deleteTaks($event, task)" mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</form>